.signup-wrapper {
  width: 100%;
  text-align: center;
  margin: 5% 0%;
  // border: 3px solid red;
  font-family: "Oswald", sans-serif;
  // display: grid;

  form {
    // border: 3px solid black;
    width: 60%;
    height: auto;
    margin: 0% 20%;
    padding: 5%;
    font-family: "Lora", serif;
    font-size: 20px;
    input {
      border: 0;
      border-bottom: 2px solid gray;
      outline: 0;
      font-size: 1.3rem;
      color: black;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    }
    .newsletter {
      margin: 3%;
    }
    .error{
      color: red;
    }
  }
}
